.choiceContainer {
    display: flex;
    justify-content: center;
}

.validationForm {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}


.reg-btn-container {
    border: 5px solid #fff;
    border-radius: 10px;
    margin-top: 80px;
    width: 500px;
    height: 150px;
    display: inline-flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    padding-left: 15px;   
}

.regp {
    font-size: 10pt;
    color:#fff;
}

.button-reg {
    font-size: 20pt;
    border: 0px;
    background-color: #000;
    color: #fff;
    transition: all 0.9s;
}

.button-reg:hover {
    text-decoration: underline;
    color: rgb(217, 180, 30);
}