.choiceContainer {
    display: flex;
    justify-content: space-between;

    justify-content: right;
}


.reg-btn-container {
    border: 5px solid #fff;
    border-radius: 3px;
    margin-top: 30px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    padding-left: 15px;
    
}

.regp {
    font-size: small;
    color:#fff;
}






.validationForm {
    
}