.authorization_item{
    grid-area: side;
    background-color: #1a1a1d;

}

.padding_for_box{
    padding: 25px;
}

.border_for_box{
    padding: 20px;
    border: 3px dashed #950740;
}

.auth_box{
    color: #ffffff;
}

.choice_buttons{
    padding-top: 10px;
}
.choice_buttons button{
    margin-right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    text-decoration: underline;
}

.validationForm{
    position: absolute;
    width: 400px;
}


