.content_item{
    grid-area: content;
    background-color: #1a1a1d;
}

.content-box{
    padding: 20px;
    color: #ffffff;
}

.definition{
    color: #950740;
}

.conclusion{
    color: #9400D3;
}

.package{
    color: #6f2232;
}

#god{
    color: rgb(217, 180, 30);
}