header {
    grid-column: 1 / 11;
}

.appname {
    display: flex;
    justify-content: center;
    color: #000000;
    background-color: white;
    border: 5px solid white;
    font-size: small;
    height: 35px;
}

#login {
    transition: all 0.8s;
}

#login:hover {
    color: rgb(217, 180, 30);
    text-decoration:underline;
}
