

header {
    grid-column: 1 / 11;
}

.appname {
    display: flex;
    justify-content: center;
    color: #fff;
    border: 5px solid white;
    border-radius: 10px;
    padding-top: 10px;
    margin: 10px;
}

#login {
    transition: all 0.8s;
}

#login:hover {
    color: rgb(217, 180, 30);
    text-decoration:underline;
}
