.login_flex{
    padding: 20px;
    color: #ffffff;
}

.login_container{
    border: 3px dashed #950740;
    padding: 20px;
}

.btnvalidation{
    padding-top: 10px;
}

.btnvalidation button{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #ffffff;
}