body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: #1a1a1d;
}

.App{
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas:
    "header header"
    "content side"
    "footer footer";
}