/*.mainFeed {*/
/*    display: grid;*/
/*    grid-column: 3 / 12;*/
/*    grid-row: 2 / 4;*/

/*    margin: 10px;*/

/*    padding: 3%;*/
/*}*/
.mainFeed {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: min-content;
    grid-column: 3 / 12;
    margin: 10px;
    background-color: #ffffff;
    border: 5px;
    border-radius: 5px;
}


.content {
    max-width: 1202px;
    word-break: break-word;

    height: auto;
    border-bottom: solid black 5px;
}