/*.mainFeed {*/
/*    display: grid;*/
/*    grid-column: 3 / 12;*/
/*    grid-row: 2 / 4;*/

/*    margin: 10px;*/

/*    padding: 3%;*/
/*}*/
.mainFeed {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: minmax(100px, auto);
    grid-column: 3 / 12;
    margin: 10px;
    background-color: darkcyan;
}

.modalWindow {
    display: grid;
    grid-auto-rows: 90px;
    grid-auto-columns: 1090px;
    grid-auto-flow: dense;
    height: 300px;
    grid-gap: 500px;

}

.content {
    min-width: 100%;
    height: auto;
}
h3 {
    overflow-wrap: break-word;;
}

.postList {
    justify-content: left;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
}